body{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top:70px;
  padding: 0;
}
div.card-text{
  background-color: rgb(235, 241, 241);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 6px;
  
}

a:hover{
  color: seagreen;
}

h2, p{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
img {
  height: 200px;
  position: center;
}

.namvar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:hsl(50.07 45% 54%);
  /*opacity: 0.8;*/
  color:hsl(5.65 53% 47%);
  padding: 20px 0;
  text-align: center;
  z-index: 1000;
}
.namvar-text{
  color: hsl(5.65 53% 47%);
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  
}

.namvar{
  display:flex;
  justify-content: center;
}

.main-content{
  width: 50%;
  max-width: 1200px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 10px;
  
}

.main-content{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}






